.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;  */
  color: rgb(70,70,70)
}


.main-page {
  display: flex;
  flex-wrap: wrap;
}

.header-container {
  border: 1px solid red;
  
  flex-basis: 100%;

  display: flex;
  align-items: center;

  /* background: repeating-linear-gradient(
  to bottom,
  royalblue,
  royalblue 20px,
  white 20px,
  white 40px
); */
}

.logo-header {
  border: 1px solid green;
  
  /* align-self: center; */
  flex: 1;
}

.logo {
  height: 200px;
}

.product-grid {
  border: 1px solid red;
  
  flex: 1;
}

.product-grid h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 20px;
}

.product-grid-items {
  border: 1px solid green;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-tile {
  border: 1px solid rgb(100,100,100);
  
  margin: 5px;

  /* border: 2px dashed royalblue; */
  /* border-radius: 5px; */
}

.tile-img {
  height: 150px;
}

.product-price {
  color: royalblue;
}

.nav-bar {
  border: 1px solid red;

  flex-basis: 350px;
  display: flex;
  flex-direction: column;
}

.nav-cart-content {
  border: 1px solid rgb(70,70,70);
  margin: 10px;
  padding: 10px;
}

.nav-bar ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar li {
  margin: 10px;
}

.nav-bar a {
  margin: 10px;
  text-decoration: none;
  color: rgb(70,70,70);
}

.nav-bar a:hover {
  text-decoration: none;

  /* color: rgba(255, 255, 4, 0.945);
  border-bottom: 2px dashed royalblue; */
}

