.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;  */
  color: rgb(70,70,70)
}


.main-page {
  display: flex;
  flex-wrap: wrap;
}

.header-container {
  border: 1px solid red;
  flex-basis: 100%;
  background: repeating-linear-gradient(
  to bottom,
  royalblue,
  royalblue 20px,
  white 20px,
  white 40px
);
  
  display: flex;
  align-items: center;
}

.logo-header {
  align-self: center;
  border: 1px solid green;
  flex: 1;
}

.logo {
  height: 200px;
}

.product-grid {
  border: 1px solid red;
  flex: 1;
}

.product-grid h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 20px;
}

.product-grid-items {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-tile {
  border: 2px dashed royalblue;
  border-radius: 5px;
  margin: 5px;
}

.tile-img {
  height: 150px;
}

.product-price {
  color: royalblue;
}

.nav-bar {
  flex-basis: 350px;
  border: 1px solid red;
}

.nav-bar ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar li {
  margin: 10px;
}

.nav-bar a {
  margin: 10px;
  text-decoration: none;
  color: rgb(70,70,70);
}

.nav-bar a:hover {
  text-decoration: none;
  color: rgba(255, 255, 4, 0.945);
  border-bottom: 2px dashed royalblue;
}

